<div class="container">
  <mat-card>
    <div class="item-container-1">
      <img src="../../assets/img/dev.png" alt="Developer Photo">
    </div>
    <div class="item-divider"></div>
    <div class="item-container-3">
      <h2>Hi! I'm Damian 👋🏼</h2>
      <p>
        My name is Damian Lis & I'm a 28 year old Front End Dev based in Wroclaw 🏙️.
        Basically, I'm a self-taught dev who has found his place in Angular and who treats work as a hobby ❤.
      </p>
      <p>
        In my free time you can find me reading 📖, biking 🚴‍♂ or on tech meetups like Angular Wroclaw or Wroclaw Typescript.
      </p>
      <h2>Experience</h2>
      <div class="item-container-exp">
        <h5>
          <a href="https://www.b3.se/pl" target="_blank">B3 Consulting Poland</a>👈
        </h5>
        <p>Project Stack: Angular + Java</p>
        <p class="small-paragraph">(Additional smaller projects of static pages using HTML, CSS, jQuery)</p>
        <h5>
          <a href="https://payability.pl/" target="_blank">Payability</a>👈
        </h5>
        <p>Project Stack: Angular + Python</p>
      </div>
      <h2>Contact me 🙋‍♂</h2>
      <ul>
        <li>
          <a href="mailto:lis.damian@yahoo.pl">Email</a>
        </li>
        <li>
          <a href="https://pl.linkedin.com/in/damianlis">Linkedin</a>
        </li>
      </ul>
    </div>
  </mat-card>
</div>
